{% for game in include.games %}
{% assign search_term = game.Title | downcase | append: ' xbox' %}
<tr>
    <td class="game-title">{{ game.Title }}</td>
    <td>
        <a href='https://www.youtube.com/results?search_query={{ search_term | append: " backwards (compatibility OR compatible)" | url_encode }}'>YouTube</a>
    </td>
    <td>
        <a href="https://www.medimops.de/produkte-C0/?fcIsSearch=1&amp;searchparam={{ search_term | url_encode }}" hreflang="de">medimops</a><br>
        <a href="https://www.ebay.de/sch/i.html?_nkw={{ search_term | url_encode }}&amp;_sacat=0&amp;LH_TitleDesc=0&amp;_odkw={{ search_term | url_encode }}&amp;_osacat=0"
            hreflang="de">eBay.de</a><br/>
        <a href="https://www.ebay.co.uk/sch/i.html?_nkw={{ search_term | url_encode }}&amp;_sacat=0&amp;LH_TitleDesc=0&amp;_odkw={{ search_term | url_encode }}&amp;_osacat=0"
           hreflang="en">eBay.uk</a><br/>
        <a href="https://www.xbox.com/de-de/Search/Results?q={{ game.Title | url_encode }}">Xbox Store</a>
    </td>
    <td>{{ game.Format }}</td>
    <td>{{ include.platform }}</td>
</tr>
{% endfor %}
