on:
  workflow_dispatch:
  schedule:
    - cron: '30 22 * * *'

name: jekyll-import-achievements

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install Devbox
        uses: jetify-com/devbox-install-action@v0.11.0
        with:
          enable-cache: true
      - name: Install dependencies
        run: devbox run -- bundle install
      - name: Run Import Script
        run: |
          devbox run -- bundle exec ruby ./_scripts/aggregate_achievements_feeds.rb
          devbox run -- bundle exec jekyll-import rss --source ./achievements.xml --tag achievements
      - name: Commit new content
        run: |
          git config --global user.email "martin.knudsen@gmail.com"
          git config --global user.name "Martin Knudsen"
          git add ./_posts/*
          git commit -am "new achievement content" && git push || echo "Nothing to import."
