on:
  workflow_dispatch:
  schedule:
    # * is a special character in YAML so you have to quote this string
    - cron:  '00 23 * * *'


name: jekyll-import-goodreads

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install Devbox
        uses: jetify-com/devbox-install-action@v0.11.0
        with:
          enable-cache: true
      - name: Install dependencies
        run: devbox run -- bundle install
      - name: Run Import Script
        env:
          GOODREADS_FEED: ${{ secrets.GOODREADS_FEED }}
        run: |
          devbox run -- bundle exec jekyll-import rss --source "$GOODREADS_FEED" --tag books
      - name: Commit new content
        run: |
          git config --global user.email "martin.knudsen@gmail.com"
          git config --global user.name "Martin Knudsen"
          git add ./_posts/*
          git commit -am "new goodreads content" && git push || echo "Nothing to import."
